
<h3><%= @post.title %></h3>
<h4><%= @post.date.strftime('%m/%d/%Y') %></h4>

<div class="row">
  <div class="col-sm-10">
    <p><%= @post.content %></p>
  </div>
  <% if current_user == @post.user %>
    <div class="col-sm-2">
      <%= link_to 'Edit Post', edit_post_path(@post), class: ['btn','btn-primary'] %>
      <br>
      <br>
      <%= link_to 'Delete Post', post_path(@post), class: ['btn','btn-danger'], method: "delete"  %>
    </div>
  <% end %>
</div>

<%= link_to "Comment", new_post_comment_path(@post), class: 'btn btn-warning', id: 'comment-link', remote: true %>

<br>

<% if @post.comments.any? %>
  <h4>Comments</h4>
  <div class="comments">
    <%= render @post.comments %>
  </div>
<% end %>
