
<h3><%= @post.title %></h3>
<h4><%= @post.date.strftime('%m/%d/%Y') %></h4>

<div class="row">
  <div class="col-sm-10">
    <p><%= @post.content %></p>
  </div>
  <% if current_user == @post.user %>
    <div class="col-sm-2">
      <%= link_to 'Edit Post', edit_post_path(@post), class: ['btn','btn-primary'] %>
      <br>
      <br>
      <%= link_to 'Delete Post', post_path(@post), class: ['btn','btn-danger'], method: "delete"  %>
    </div>
  <% end %>
</div>





<%= form_for [@post, @comment], class:"form_horizontal" do |f| %>
  <%= f.label :thoughts , class:"form-label" %>
  <%= f.text_area :thoughts, rows: 3, class:"form-control"%>
  <%= f.hidden_field :post_id, value: @post.id %>
  <br>
  <%= f.submit "Comment", class: ['btn','btn-default']%>
<% end %>

<br>

<% if @post.comments.any? %>
  <div class="well">
    <h4>Comments</h4>
    <% @post.comments.each do |comment| %>
      <% if comment.user %>
        <h5>User: <%= comment.user.email %></h5>
      <% else %>
        <h5>Anonymous User</h5>
      <% end %>
      <p><%= comment.thoughts %></p>
    <% end %>
  </div>
<% end %>
