<!DOCTYPE html>
<html>
<head>
  <title>Indent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1><%= link_to 'Indent' , posts_path %></h1>
  <h3>Blog Site for Developers</h3>
  <%= flash[:alert]%>
  <%= flash[:notice]%>

  <br>

  <%= yield %>
</div>

</body>
</html>
